name: Build

on:
  push:
    branches:
        - '**'

jobs:
  cross-build:
    name: 'Cross build'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [
          # Windows
          'x86_64-w64-mingw32',
          'i686-w64-mingw32',
        ]
    steps:
    - uses: actions/checkout@main
      with:
        submodules: true
    - name: Generate system roots
      run: |
        declare -r MINGW_TAG='gcc-15'
        declare -r MINGW_TARBALL='/tmp/toolchain.tar.xz'
        declare -r MINGW_URL="https://github.com/AmanoTeam/MinGW-w64/releases/download/${MINGW_TAG}/x86_64-unknown-linux-gnu.tar.xz"
        
        curl --connect-timeout '10' --retry '15' --retry-all-errors --fail --silent --location --url "${MINGW_URL}" --output "${MINGW_TARBALL}"
        tar --directory="$(dirname "${MINGW_TARBALL}")" --extract --file="${MINGW_TARBALL}"
        
        export MINGW_HOME='/tmp/mingw-w64'
        export PATH="${MINGW_HOME}/bin:${PATH}"
        
        export CMAKE_TOOLCHAIN_FILE="${MINGW_HOME}/usr/local/share/mingw/cmake/${{ matrix.target }}.cmake"
        
        source "${MINGW_HOME}/usr/local/share/mingw/autotools/${{ matrix.target }}.sh"
        
        bash './main.sh'
    - name: Create release
      uses: softprops/action-gh-release@master
      with:
        tag_name: 0.1
        name: MinGW-w64 system roots
        files: /tmp/*-w64-*.tar.xz*
        draft: false
        prerelease: false
        fail_on_unmatched_files: true
        body: "* Initial release"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
